.button {
    padding: 15px 45px;

    width: fit-content;
    height: 52px;

    display: block;
    background-color: $color-primary;
    border-radius: 100px;

    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */

    letter-spacing: 0.06em;

    color: $color-dark-3xl;

    transition: 0.5s all;

    &:hover {
        background-color: $color-primary-light;
        // transform: translateY(-2px);
    }

    &_secondary {
        background-color: $color-light-xl;
        border: 2px solid $color-primary;
    }

    &_arrow {
        width: 52px;
        height: 52px;

        border: 2px solid $color-primary;
        border-radius: 100px;
        background-color: $color-light-xl;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: 0.5s all;

        cursor: pointer;

        &:hover {
            background-color: $color-primary-light;
        }

    }

    &_next {
        transform: rotate(180deg);
    }
}

