.start {
    padding-top: 30px;

    background: url('../../../assets/img/start/start-screen-gradient-background.png') center center / cover no-repeat;

    // .start__puppy
    &__puppy {
        img {
            display: block;
        }
    }
}

.header {
    margin-bottom: 90px;

    display: grid;
    grid-template-columns: minmax(184px, auto)  443px;
    justify-content: space-between;
    column-gap: auto;

    // .header__logo
    &__logo {
    }
    // .header__title
    &__title {
        margin-bottom: 10px;

        font-family: 'Georgia';
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        /* or 35px */
        letter-spacing: 0.06em;

        color: $color-primary;
    }
    // .header__subtitle
    &__subtitle {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;

        color: $color-light-xl;

        text-align: center;
    }
}
.menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 35px;
    align-content: center;
    // .menu__item
    &__item {
        display: block;
        
        transition: 0.5s all;
        
        &:hover {
            .menu__text {
                color: $color-light-s;
            }
        }

        &_active {
            .menu__text {
                color: $color-light-s;
            }

            .menu__line {
                opacity: 1;
                width: 100%;
            }
        }
    }
    // .menu__text
    &__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        /* identical to box height, or 24px */
    
        color: $color-dark-s;

        transition: inherit;
    }
    // .menu__line
    &__line {
        margin: 0 auto;
        height: 3px;
        // width: 100%;
        background-color: $color-primary;

        transition: inherit;
        opacity: 0;
        width: 0;
    }
}
.start-main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 42px;
    justify-content: space-between;
}
.start-content {
    padding-top: 163px;

    // .start-content__title
    &__title {
        margin-bottom: 42px;

        max-width: 310px;

        color: $color-light-xl;
    }
    // .start-content__descr
    &__descr {
        margin-bottom: 42px;

        color: $color-dark-s;
    }
}