.start {
    padding-top: 30px;

    background: url('../../../assets/img/bg/noise_transparent@2x.png') center center repeat, 
                radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
                #211F20;

    // .start__puppy
    &__puppy {
        width: 698px;

        img {
            display: block;
            max-width: 100%;
        }
    }
}

.header {
    margin-bottom: 90px;

    display: grid;
    grid-template-columns: minmax(184px, auto)  443px;
    justify-content: space-between;
    column-gap: auto;

    // .header__logo
    &__logo {
        &:hover {
            background-color: rgba(13, 13, 13, 0.1);
            box-shadow: 0px 2px 25px 14px rgba(13, 13, 13, 0.1);

            .header__title {
                color: $color-primary-light;
            }
        }
    }
    // .header__title
    &__title {
        margin-bottom: 10px;

        font-family: 'Georgia';
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        /* or 35px */
        letter-spacing: 0.06em;

        color: $color-primary;

        transition: inherit;
    }
    // .header__subtitle
    &__subtitle {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-align: center;
        
        color: $color-light-xl;
    }
}
.menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 35px;
    align-content: center;
    // .menu__item
    &__item {
        display: block;
        
        transition: 0.5s all;
        
        &:hover {
            .menu__text {
                color: $color-light-s;
            }
        }

        &_active {
            .menu__text {
                color: $color-light-s;
            }

            .menu__line {
                animation: ani 0.5s forwards;
            }
        }
    }
    // .menu__text
    &__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        /* identical to box height, or 24px */
    
        color: $color-dark-s;

        transition: inherit;
    }
    // .menu__line
    &__line {
        margin: 0 auto;
        height: 3px;
        // width: 100%;
        background-color: $color-primary;

        transition: inherit;
        opacity: 0;
        width: 0;
    }
}

.burger {
    display: none;
}

.start-main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 42px;
    justify-content: space-between;
}
.start-content {
    padding-top: 163px;

    // .start-content__title
    &__title {
        margin-bottom: 42px;

        // max-width: 310px;

        color: $color-light-xl;
    }
    // .start-content__descr
    &__descr {
        margin-bottom: 42px;

        color: $color-dark-s;
    }
}

@keyframes ani {
    0% {
        width: 0; 
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

@media screen and (max-width: 1279px) {
    .start {
        padding: 30px 30px 0;

        &__puppy {
            margin: 0 0 0 auto;

            max-width: 569px;
        }
    }

    .header {
        margin-bottom: 60px;
    }

    .start-main {
        grid-template-columns: auto;
    }

    .start-content {
        padding: 0 124px;
        margin-bottom: 99px;
    }

    .button_start {
        margin: 0 auto;
    }

}

@media screen and (max-width: 767px) {
    
    .start {
        padding: 30px 10px 0;
        // overflow: hidden;
        &__puppy {
            width: 260px;
        }
        
        .header {
            margin: 0 10px 60px;
            grid-template-columns: minmax(184px, auto)  30px;
            align-items: center;
        }

        .menu {
            display: none;
        }
    
        .burger {
            display: flex;

            flex-direction: column;
            justify-content: space-between;

            width: 30px;
            height: 22px;

            transition: 0.5s all;

            div {
                display: block;
                
                height: 2px;
                background-color: $color-primary;
            }

            &:active {
                transform: translateY(2px);
            }
        }

        .start-main {
            grid-template-columns: 100%;
        }

        .start-content {
            padding: 0;
            margin: 0 auto 105px;

            max-width: 460px;
            justify-content: center;

            &__title {
                text-align: center;
                padding-left: -10px;
                padding-right: -10px;
            }

            &__descr {
                text-align: center;
            }
        }
    }
}