.footer {
    padding-top: 40px;

    height: 350px;
    overflow: hidden;

    background: url('../../../assets/img/bg/noise_transparent@2x.png') center center repeat, 
                radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
                #211F20;

    // .footer__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: 279px 302px auto;
        column-gap: 159px;
    }
}

.footer-contacts {
    padding-top: 16px;

    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // .footer-contacts__title
    &__title {
        color: $color-light-xl;
    }
}

.footer-item {
    display: flex;
    align-items: center;

    transition: 0.5s all;

    &:hover {
        background-color: rgba(13, 13, 13, 0.1);
        box-shadow: 0px 2px 25px 14px rgba(13, 13, 13, 0.1);

        .footer-item__text {
            color: $color-primary-light;
        }
    }

    // .footer-item__icon
    &__icon {
        margin-right: 20px;
        img {
            display: block;
        }
    }
    // .footer-item__text
    &__text {
        color: $color-primary;

        transition: 0.5s all;
    }
}

.footer-locations {
    padding-top: 16px;

    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // .footer-locations__title
    &__title {
        color: $color-light-xl;
    }
}
