.pets {
    padding: 80px 0 100px;
    
    background-color: $color-light-l;
    
    // .pets__wrapper
    &__wrapper {
        display: grid;
        grid-template-rows: repeat(3, auto);
        row-gap: 58px;
        justify-content: center;
    }
    // .pets__title
    &__title {
        text-align: center;
    }
    
    &__inner {
        width: 1200px;
        height: 901px;
        position: relative;
        overflow: hidden;
    }

    // .pets__cards
    &__cards {
        display: grid;
        grid-template-columns: repeat(24, 270px);
        grid-auto-flow: column;
        column-gap: 40px;
        grid-template-rows: repeat(2, 435px);
        row-gap: 30px;

        position: absolute;
        top: 0;
        left: 0;

        transition: 0.5s all;
    }
    // .pets__pagination
    &__pagination {
        padding-top: 2px;

        display: grid;
        grid-template-columns: repeat(5, 52px);
        column-gap: 20px;

        justify-content: center;
    }
}

@media screen and (max-width: 1279px) {
    .pets {
        padding: 80px 0 77px;
        &__wrapper {
            row-gap: 0;
        }

        &__title {
            margin-bottom: 30px;
        }

        &__inner {
            width: 580px;
            height: 1356px;
            margin-bottom: 45px;
        }

        &__cards {
            width: 100%;

            grid-template-columns: repeat(16, 270px);
            grid-template-rows: repeat(3, 435px);
        }
    }
}

@media screen and (max-width: 767px) {
    .pets {
        padding: 42px 10px;

        &__title {
            margin-bottom: 41px;
        }

        &__inner {
            width: 270px;
            justify-self: center;
            margin-bottom: 48px;
        }

        &__cards {

            // grid-template-columns: auto;
        }

        &__pagination {
            column-gap: 3vw;
        }
    }
}
