.pets {
    padding: 80px 0 100px;

    background-color: $color-light-l;

    // .pets__wrapper
    &__wrapper {
        display: grid;
        grid-template-rows: repeat(3, auto);
        row-gap: 58px;
        justify-content: center;
    }
    // .pets__title
    &__title {
        text-align: center;
    }
    // .pets__cards
    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        column-gap: 40px;
        grid-template-rows: repeat(2, 435px);
        row-gap: 30px;
    }
    // .pets__pagination
    &__pagination {
        padding-top: 2px;

        display: grid;
        grid-template-columns: repeat(5, 52px);
        column-gap: 20px;

        justify-content: center;
    }
}

.button {
    // .button_secondary
    &_secondary {
    }
    // .button_paginator
    &_paginator {
    }
    // .button_paginator
    &_paginator {
    }
    // .button_paginator
    &_paginator {
    }
}

@media screen and (max-width: 1279px) {
    .pets {
        padding: 80px 0 77px;
        &__wrapper {
            row-gap: 0;
        }

        &__title {
            margin-bottom: 30px;
        }

        &__cards {
            width: 100%;
            margin-bottom: 36px;

            grid-template-columns: repeat(2, auto);
            justify-content: center;
            column-gap: 5.3vw;

            .card:nth-child(8),.card:nth-child(7) {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .pets {
        padding: 42px 10px;

        &__title {
            margin-bottom: 41px;
        }

        &__cards {
            margin-bottom: 39px;

            grid-template-columns: auto;

            .card:nth-child(6),.card:nth-child(5),.card:nth-child(4) {
                display: none;
            }
        }

        &__pagination {
            column-gap: 3vw;
        }
    }
}
