@import
    '../../../assets/base/fonts',
    '../../../assets/base/variables',
    '../../../assets/base/typography',
    '../../../assets/base/buttons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Arial';
    font-style: normal;

    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

a {
    transition: 0.5s all;

    &:active {
        transform: translateY(2px);
    }
}

@media screen and (max-width: 1279px) {
    .container {
        width: auto;
    }
}

// TODO add hover only on desktop

@import 
    '../../../assets/base/header',
    'blocks/start',
    'blocks/about',
    '../../../assets/base/card',
    'blocks/pets',
    'blocks/help',
    'blocks/donation',
    '../../../assets/base/footer';