@import 'base/fonts';
@import 'base/variables';
@import 'base/typography';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Arial';
    font-style: normal;

    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1200px;
}


@import 'blocks/start';
@import 'blocks/buttons';
@import 'blocks/about';
@import 'blocks/pets';
